body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', monospace;
}

.container {
    display: flex;
    flex-direction: column;
}

/* NAVBAR */
.navbar {
    display: flex;
    color: #F9FAF8;
    background-color: #800020;
    padding: 20px 0px 20px 100px; /* from top clockwise  */
    align-items: center;
}

.header-logo {
    width: 84px;
    margin-right: auto;
    font-size: 30px;   
}

.header-link {
    font-size: 18px;
    padding: 10px;
}


/* HERO */
.hero {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 70px;
}

.hero-cta {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.hero-cta p {
    font-family: 'Roboto', monospace;
    opacity: 0.7;   /* this is how you can make text less bright */
    font-size: 20px;   /* the default size is 16px for some reason */
}

h1 {
    font-size: 50px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
    font-family: 'Roboto', monospace;
}

.hero button {
    display: block;
    text-align: center;
    width: 300px;
    height: 50px;
    border: solid;
    background: #3882f6;
    font-size: 20px;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', monospace;
    text-decoration: none;
    font-weight: bold;
}

.hero-image img {
    width: 500px;
    height: 350px;
}